# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
temp_notes.txt

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv
clistart.sh

# other
.DS_Store
.vscode

# sphinx docs 
_build
_static
_templates

# javascript
package-lock.json
.vscode/symbols.json
