{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %} 
{% block stylesheets %}
	<style>
		.pac-container {
				z-index: 10000 !important;
				/* TODO add same styling to the pac-container as the dashboard */
		}
	</style>
{% endblock stylesheets %}
{% block content %}
<div class="content">
	<div class="panel-header bg-primary-gradient">
		<div class="page-inner py-5">
			<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div>
					<h2 class="text-white pb-2 fw-bold">Dashboard</h2>
				</div>
				<div class="ml-md-auto py-2 py-md-0">
					<button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addAddressModal">
						<i class="fa fa-plus"></i>
						Add Property
					</button>
				</div>

				<!-- New property form -->
				<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<!-- HEADER -->
							<div class="modal-header no-bd">
								<h5 class="modal-title">
									<span class="fw-mediumbold"> New Property</span> 
								</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<!-- BODY -->
							<div class="modal-body">
								<form id="addAddressForm" method="POST" action="/add-property">
									<p class="small">Add a new property by entering the address.</p>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Address</label>
												<input id="addAddress" name="address" type="text" class="form-control" placeholder="Enter a location"/>
											</div>
										</div>
									</div>
									<!-- FOOTER -->
									<div class="modal-footer no-bd">
										<button type="submit" id="addAddressButton" class="btn btn-primary">Add</button>
										<button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- END new property form -->
			</div>
		</div>
	</div>

	<div class="page-inner mt--5">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="card card-stats card-success card-round">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fas fa-chart-line"></i>
								</div>
							</div>
							<div class="col-7 col-stats">
								<div class="numbers">
									<p class="card-category">Net Value</p>
									<h4 class="card-title">$ 1,345</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="card card-stats card-info card-round">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fas fa-piggy-bank"></i>
								</div>
							</div>
							<div class="col-7 col-stats">
								<div class="numbers">
									<p class="card-category">Yearly Income</p>
									<h4 class="card-title">$ 1,303</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6 col-md-3">
				<div class="card card-stats card-secondary card-round">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="fas fa-coins"></i>
								</div>
							</div>
							<div class="col-7 col-stats">
								<div class="numbers">
									<p class="card-category">Yearly Expenses</p>
									<h4 class="card-title">$ 576</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-6 col-sm-4 col-lg-2">
				<div class="card">
					<div class="card-body p-2 text-center">
						<div class="h1 m-0"> {{summary.count}} </div> 
						<div class="mb-2"># Properties</div>
					</div>
				</div>
			</div>
		</div>	

	</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-head-row">
							<div class="card-title">Property Valuations</div>
							<div class="card-tools">
								<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
									<span class="btn-label">
										<i class="fas fa-file-download"></i>
									</span>
									Export
								</a>
							</div>
						</div>
					</div>

					<!-- Multi-Series chart -->
					<div class="card-body">
						<div class="chart-container" style="min-height: 375px">
							<canvas id="statisticsChart"></canvas>
						</div>
						<div id="myChartLegend"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
{% block javascripts %}
	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_ogQ9dqwxiWZTead0L4Ga1wawqFG72zM&libraries=places&callback=initMap" async defer></script>

	<script>
		function initMap() {
			var options = {
				componentRestrictions: {country: ["aus", "nz", "uk"]}
			};

			var input = document.getElementById('addAddress');
			var autocomplete = new google.maps.places.Autocomplete(input, options);
			autocomplete.setFields(["address_component"]);
			
			$('#addAddressModal').modal('hide');
		}
	</script>

{% endblock javascripts %}
