{% extends "layouts/base.html" %}
{% block title %} Property Details {% endblock %} 
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Property</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Property details</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#"> {{property[0].address[0].description }} </a>
					</li>
				</ul>
			</div>

			
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Information</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="loan-tab" data-toggle="tab" href="#loan" role="tab" aria-controls="loan" aria-selected="false">Loan</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Documents</a>
				</li>
			</ul>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="row">
								<div class="col-md-4">
									<div class="card-title"> 
										{{ property[0].address[0].description }} 
									</div>
								</div>
								<div class="col-md-4">
									<i class="fa fa-bed"></i>
									{{ property[0].bedrooms }} 
									<i class="fa fa-bath"></i>
									{{ property[0].bathrooms }} 
									<i class="fa fa-car-alt"></i>
									{{ property[0].carSpaces }}
									<i class="fas fa-ruler-combined"></i>
									{{ property[0].landAreaM2 }} m^2
									<!-- ({{ property[0].floorAreaM2 }}) m^2 -->
								</div>
							</div>
							<div class="text-warning"> 
								Data has been filled based on our database, edit as necessary. 
							</div>
						</div>
					<div class="card-body">
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
								<form method="POST" action="">
									<div class="row">
										<!-- LEFT column -->
										<div class="col-md-6 col-lg-4">
											<div class="form-group">
												<label for="largeInput"> Property price </label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="largeInput"> Stamp Duty (per year) </label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append">
													</div>
												</div>
											</div>
											
											<div class="form-group">
												<label for="largeInput"> Land Rate (per year) </label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append">
													</div>
												</div>
											</div>

											<div class="form-group">
												<label for="largeInput"> Agency fee (% weekly rent) </label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">%</span>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append">
													</div>
												</div>
											</div>
										</div>

										<!-- MIDDLE column -->
										<div class="col-md-6 col-lg-4">				
											<div class="form-group">
												<label>Date purchased</label>

												<div class="input-group">
													<input type="text" class="form-control" id="datepicker" name="datepicker">
													<div class="input-group-append">
														<span class="input-group-text">
															<i class="fa fa-calendar-alt"></i>
														</span>
													</div>
												</div>
												
											</div>
										</div>

										<!-- RIGHT column -->
										<div class="col-md-6 col-lg-4">
											<div class="form-group">
												<label for="largeInput"> Rent (per week) </label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append">
													</div>
												</div>
											</div>

											<div class="form-group">
												<label for="largeInput"> Water (per year) </label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append">
													</div>
												</div>
											</div>

											<div class="form-group">
												<label for="largeInput"> Electricity (per year) </label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append">
													</div>
												</div>
											</div>

											<div class="form-group">
												<label for="largeInput"> Gas (per year) </label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append">
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<!-- LOAN tab body -->
							<div class="tab-pane fade" id="loan" role="tabpanel" aria-labelledby="loan-tab">
								<form method="POST" action="">
									<div class="row">

										<div class="col-sm-6 col-md-3">
											<div class="form-group">
												<label for="largeInput"> Principal </label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append"></div>
												</div>
											</div>
										</div>

										<div class="col-sm-6 col-md-3">
											<div class="form-group">
											<label for="largeInput"> Down payment </label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append"></div>
												</div>
											</div>
										</div>

										<div class="col-sm-6 col-md-3">
											<div class="form-group">
											<label for="largeInput"> Interest rate </label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">%</span>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append"></div>
												</div>
											</div>
										</div>

										<div class="col-sm-6 col-md-3">
											<div class="form-group">
												<label for="largeInput"> Term (years) </label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append"></div>
												</div>
											</div>
										</div>

									</form>
								</div>	
							</div>	

							<!-- DOCUMENT tab body -->
							<div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
								<form action="upload.php" class="dropzone dz-clickable">
									<div class="dz-message" data-dz-message="">
										<div class="icon">
											<i class="fa fa-file-alt"></i>
										</div>
										<h4 class="message">Drag and Drop files here OR click this area.</h4>
									</div>
								</form>
							</div>
						</div>
				</div>
						<!-- card FOOTER -->
						<div class="card-action">
							<button class="btn btn-success">Submit</button>
							<button class="btn btn-danger">Cancel</button>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>

{% endblock content %}
{% block javascripts %}
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/moment.min.js"></script>
	<script src="/static/assets/js/bootstrap-datepicker.min.js"></script>
	<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.css" rel="stylesheet"/>

	<script>
		$('#datepicker').datetimepicker({
			format: 'DD/MM/YYYY',
		});
	
	</script>
{% endblock javascripts %}	
